{% extends "layout.html" %}

{% block title %}
Blogs
{% endblock title %}


{% block content %}
<h1 class="mt-3">Welcome to the Blogs Hub</h1>
<button class="btn btn-primary mt-3 mb-3">
  <a href="{% url 'blog_create' %}">Create Blog</a>
  </button>

<div class="container row gap-3">
    
    {% for blog in blogs %}
    <div class="card" style="width: 18rem;">
        <img src="{{blog.photo.url}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{blog.user.username}}</h5>
          <p class="card-text">{{blog.description}}</p>
          {% if blog.user == user %}
          <a href="{% url 'blog_edit' blog.id %}" class="btn btn-primary">Edit</a>
          <a href="{% url 'blog_delete' blog.id %}" class="btn btn-danger">Delete</a>
          {% endif %}
        </div>
      </div>
    
    {% endfor %}

</div>

{% endblock content %}